.heading {
  text-align: center;
  margin: 1em;
}

.text {
  color: #eeeeee;
    text-align: center;
    margin: 1em;
}

.text {
    color: #eeeeee;
}


.spacing {
  margin: 5px;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: #305A4D;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

/*.circle {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border-radius: 50%;*/
/*    overflow: hidden;*/
/*    border: #305A4D;*/
/*}*/



